/* @import '~antd/dist/antd.less'; */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

hr {
  border: 0.5px solid #e8e8e8;
  /* margin: 3px 5px; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-list-vertical .ant-list-item-extra {
  margin: auto auto auto;
}

.ant-list-item-action {
  margin-left: 5px !important;
}

.ant-form-large .ant-form-item-label > label {
  height: auto !important;
}

@media (max-width: 576px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}
